<h1>Your Task</h1>
<% if @task.present? %>
  <h2><%= @task.name %></h2>
  <% @task.sub_tasks.each do |x|%>
    <h3><%= x.name %></h3>

  <% end %>


  <%= link_to "Edit a new Task", edit_task_path %>
  <%= link_to "Delete", task_path,
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end  %>

<%= render "form", task: @task, sub_task: @sub_task %>


